@model RegisterModel
@{
	ViewData["Title"] = "Sign_up";
}

<form asp-action="Register" method="post">
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" />
    </div>
    <div>
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" />
    </div>
    <button type="submit">Register</button>
</form>