@model List<UserModel>
@{
	ViewData["Title"] = "Users";
}
<h1>Список пользователей</h1>

        @if (Model != null)
        {
    <table>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Password</th>
                <th>Delete</th>
                <!-- Другие поля пользователя -->
            </tr>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Email</td>
                <td>@user.Password</td>

                <td>
                    <form method="post" asp-action="DeletePurchaseItem">
                        <input type="hidden" name="id" value="@user.Id" />
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </form>
                </td>
                <!-- Остальные поля пользователя -->
            </tr>
        }
        </table>
        }
        else
        {
            <p>No products available.</p>
        }