@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="banner"> 
        <img src=""/>
        <div>Japanese Food</div>
        <input type="button" value="search"/>
        <input type="button" value="user"/>
        <a type="button" " href="@Url.Action("Sign_up", "Home")">reg</a>
        <input type="button" value="auto"/>
        <input type="button" value=""/>
    </div>
</div>
